.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.linha1{
display: flex;
width: 100%;
height: 100%;

}

.linha2{
display: flex;
width: 100%;
height: 100%;

}

.linha3{
display: flex;
width: 100%;
height: 100%;

}

.azul50{
display: flex;
width: 100%;
height: 100%;
background-color: aqua;
justify-content: flex-start;
align-items: center;
}

.amarelo50{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: yellow;
    justify-content: flex-end;
align-items: center;
}

.azim{
    display: flex;
width: 100px;
height: 100px;
background-color: aqua;
}

.ama{
        display: flex;
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.branquim{
    display: flex;
width: 100%;
height: 100%;
background-color: rgb(255, 255, 255);
justify-content: space-between;
flex-direction: column;
align-items: center;
}

.azul{
    display: flex;
width: 100%;
height: 100%;
background-color: aqua;
justify-content: space-between;
align-items: center;
}