* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: #F5F5F5;
  color: #111827;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #26A69A;
  color: #333333;
  padding: 20px;
}

.header-title h1 {
  margin: 0;
  font-size: 24px;
}

.header-buttons button {
  background: #2C73D2;
  color: #666666;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 10px;
  transition: background 0.3s;
}

.header-buttons button:hover {
  background: #e0e7ff;
}

.main {
  padding: 20px;
  max-width: 960px;
  margin: auto;
}

/* Abas */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  background: #e5e7eb;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.tab.active {
  background: #3b5bff;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
}

.header {
  background: teal;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title h1 {
  margin: 0;
}

.header-buttons button {
  background: #3498db;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.livros-cadastrados {
  padding: 20px;
}

.filtro-categoria {
  margin-bottom: 20px;
}

.livros-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.livro-card {
  background: white;
  border-left: 5px solid #3498db;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.livro-card h3 {
  margin: 0 0 10px;
  color: #2c3e50;
}

.livro-card p {
  margin: 5px 0;
  color: #555;
}

.livro-card span {
  font-weight: bold;
}
.h1{
  color: #2C73D2;
}
.p{
  color: #2C73D2;
}