body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 380px;
    background:#26A69A;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 5px;
    color: #111;
}

p {
    color: #333;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

label {
    margin-top: 10px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    margin-top: 20px;
    width: 100%;
    background: #2C73D2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2C73D2;
}

.link {
    margin-top: 15px;
}

a {
    color: #4b5eff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.icon {
    background-color: #3b82f6;
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 28px;
    margin: 0 auto 1rem;
}
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
  }
  