*{padding:0%;
margin:0%
}
.pug{
width: 100vw;
height: 100vh;
}

.container{
display:flex;
width: 100vw;
height: 100vh;

}

.quad{
display: flex;
background-color: rgb(80, 0, 0);
height: 100vh;
width: 100vw;
justify-content: center;
align-items: center;
}

.lind{
    display: flex;
    background-color: rgb(204, 0, 0);
    height: 50%;
    width: 50%;
justify-content: center;
box-shadow: 0 0 15px rgba(255, 81, 0, 0.7); 
border: 1px solid rgba(255, 102, 0, 0.829);

}
.for{
justify-content: center;
text-align: center;
display: flex;
flex-direction: column;

}